<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<connectionStrings>
	<add name="RestaurantDB"
         connectionString="Server=LAPTOP-ES8AU30N;Database=Database;User Id=sa;Password=Viet341537@;TrustServerCertificate=True;"
         providerName="System.Data.SqlClient" />
	</connectionStrings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>