<connectionStrings>
	<add name="RestaurantDB"
         connectionString="Server=LAPTOP-ES8AU30N;Database=Database;
                           User ID=sa;Password=Viet341537@;
                           TrustServerCertificate=True;"
         providerName="System.Data.SqlClient"/>
</connectionStrings>
